/*  guia de estilos */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  todo lo de arriba ya venia con lo copiado antes */
h3{
	color:#fff;
}
body { text-align: center; font:300 20px/1.7 'Roboto Condensed';}

  .header { display: flex; justify-content: center; align-items: center; }

  .navbar { display: flex; justify-content: center; align-items: center; background: #B98D57; }
/* #B98D57 abcdef */
  .tarifas { text-align: left; }

  .list-services {display: flex; align-items: center; justify-content: center;}
  .list-services figure { display: flex; justify-content: center; align-items: center; flex-flow: column;}


/* 2 GENERIC ITEMS */

  .header { height: 450px; background: url(../img/confianza.jpg) no-repeat center top; background-size: cover;}
  .navbar { height: 63px; background: #2c3e50; border-bottom: 1px dashed #998B7B;}
  /* #998B7B 3498db */
  .uno-tres{
    width: 31.5;
    float: left;
    padding: 10px;
    text-align: center;
}
.uno-tres-padding{
    width: 29%;
    float: left;
    margin: 2% 2% ;
}
    .navbar a { padding: 0 20px; color:#fff; text-decoration: none; text-transform: uppercase; font: 20px 'Stint Ultra Condensed';}
  .title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}
  p {margin-bottom: 40px;}
  .icon-wrap {
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-color:grey;
      border-radius: 125px;
      text-align: center;
      margin-top: 3%;
  }
  .icon-wrap i {
      text-align: center;
      color: #fff;
      font-size: 340%;
      padding: 20%;
  }

  .btn { border: 2px solid #fff; padding: 10px 40px; display: inline-block; text-decoration: none; color: #fff;}

/* 3 PARTS OF WEB */
  .content { padding: 80px 0;}
/* F3AB55 2c3e50 */
    .who {background: #2c3e50; color: #fff;}
      .who p { max-width: 1055px; margin: 0 auto;}
    .services {background:url(../img/full-bloom.png)  no-repeat center top; background-size: cover;color: #34495e;}
/*  34495e A57247*/
    .tarifas {background: url(../img/mano22.jpg) no-repeat center top; background-size: cover; color: #fff;}
      .contain {max-width: 1055px; margin: 0 auto;}
      .tarifas p {max-width: 520px;}
/* #F3AB55  #34495e*/
    .localization {background:url(../img/full-bloom.png)  no-repeat center top; background-size: cover;color: #34495e; padding-bottom: 0;}
      .localization .map img {max-width: 100%; width: 100%;}


	  .pie_final {background: url(../img/MUJER.png) no-repeat center top; background-size: cover; color: #fff;}
        .contain {max-width: 900px; margin: 0 auto;}
        .pie_final p {max-width: 500px;}

/* 3 LIST  */

  .list-services figure { position: relative; width: 150px; height: 190px;}
  .list-services figure:after {content: ""; position: absolute; top: 0; left: 0; border-radius: 50%; z-index: 0; background: #fff; width: 150px; height: 150px;}
    .list-services img {position: relative; z-index: 1;}
  .list-services li { padding: 0 30px; }
  .list-services figcaption { position: relative; left: 0; right: 0; bottom: -40px;}





/* nuevo css */
   footer{
    width: 100%;
    overflow: auto;
}
.icon-text{
    width: 90%;
    margin:  0 auto;
}
.icon-text-icon{
    float: left;
    width: 80%;
    padding: 4%;
}
.icon-text-text{
    float: left;
    width: 100%;
    padding: 4% 4% 2% 0%;
}
.footer-nav{
    text-align: right;
}
.footer-nav a{
    font-size: 160%;
    color:#fff;
    font-weight: 100%;
}
.social {
    text-align: center;
    display:inline;
    font-size: 90%;
    margin: 2%;
    padding: 5%;
     color:black;
}
.social li{
    text-align: center;
    display:inline;
    font-size: 400%;
    margin: 5%;
    padding: 5%;
     color:black;
}
.social i{
    text-align: center;
    font-size: 400%;
    margin: 1%;
    padding: 5%;
     color:black;
 }
.footer1{
    width: 20px;
    margin: 0 auto;
}

.footer1 p{
	color: #fff;
    width: 40px;
    margin: 0 auto;
}
.fiita a{
	color:black;
}
.fiita p{
	color:black;
}
@media screen and (max-witch:768px){
    p{
        font-size: 130%;
    }

     h3{
         font-size: 150%;
     }
     header{
         height: 80px;
         position: relative;
     }
/* cookie */
#cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#cajacookies button {
  color: black;
}
